@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .type-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.type-heading {
  position: relative;
  font-size: 6vw;
  font-weight: bold;
  overflow: hidden;
}
.type-heading .type-box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: #2800ad;
  height: 1vw !important;
  z-index: -1;
}
.type-text {
  opacity: 0;
  display: inline-block;
}


.typeWriter-text {
   position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 2px solid rgb(255, 255, 255);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
  width: 0;
  /* animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 900ms steps(44) infinite normal; */
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgb(255, 255, 255);
  }
  to {
    border-right-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
